<% if @error_message %>
	<p><%= @error_message %></p>
<% end %>

<h2>Edit question</h2>

<form id='edit_question' method='post' action='/questions/<%= @question.id %>'>
	Caption: <input type='text' name='question[caption]' value='<%= @question.caption %>' required>
	<p>Description:</p>
	<textarea name='question[description]' form='edit_question' required><%= @question.description %></textarea>
	<input type='submit' value='Edit!'>
</form>
