<% if @error_message %>
	<p><%= @error_message %></p>
<% end %>

<form id='new_question' method='post' action='/questions'>
	Caption: <input type='text' name='question[caption]'>
	<p>Description:</p>
	<textarea name='question[description]' form='new_question'></textarea>
	<input type='submit' value='Ask!'>
</form>
