<h2>Login</h2>

<% if @error_messages %>
	<p><%= @error_messages %></p>
<% end %>

<form action='/login' method='post'>
	<input type='email' placeholder='Your email' name='email'>
	<input type='password' placeholder='Your password' name='password'>
	<input type='submit' value='To space!'>
</form>