<h2>I wanna join!</h2>

<% if @error_messages %>
	<p><%= @error_messages %></p>
<% end %>

<form action='/signup' method='post'>
	<input type='text' placeholder='Your username' name='user[username]'>
	<input type='email' placeholder='Your email' name='user[email]'>
	<input type='password' placeholder='Your password(min. 6 characters)' name='password'>
	<input type='submit' value='Join now!'>
</form>