<h1>Your questions:</h1>
<table>
	<% @questions.each do |q| %>
		<tr>
			<td><a href='/questions/<%= q.id %>'><%= q.caption %></a></td>
			<td><p><%= q.description %></p></td>
		</tr>
	<% end %>
</table>