<% if @error_message %>
	<p><%= @error_message %></p>
<% end %>

<form id='edit_answer' method='post' action='/answers/<%= @answer.id %>'>
	Content:
	<textarea name='answer[content]' form='edit_answer' required><%= @answer.content %></textarea>
	<input type='submit' value='Edit!'>
</form>
